/*variable*/
/*
Dans utils/, vous rangez vos variables, fonctions, mixins et les  %placeholders 
pour les extensions (si vous en utilisez) ;
*/

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
